[Unit]
Description=Gunicorn daemon for exam2 (core)
After=network.target

[Service]
User=admin
Group=www-data
WorkingDirectory=/home/admin/my_project
Environment="DJANGO_DEBUG=False"
Environment="DJANGO_ALLOWED_HOSTS=example.tj,YOUR_SERVER_IP"
Environment="DJANGO_SECRET_KEY=CHANGE_ME"
ExecStart=/home/admin/my_project/.venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind 127.0.0.1:8000 \
    core.wsgi:application

[Install]
WantedBy=multi-user.target
